<!-- Title group  -->
<div class="title-group">
    <h1 class="mat-h1">Join Game</h1>
    <mat-divider fxFlex="1 0"></mat-divider>
  </div>

  <h1></h1>

  <mat-label>Customer Game</mat-label>
  <!-- Form -->
  <div class="inner-wrapper">
      
    <form [formGroup]="playerForm" (ngSubmit)="joinGame()" #resetPlayerForm="ngForm" novalidate>
      <!-- Left block -->
      <mat-card>
        <div class="controlers-wrapper">

            <!-- <div *ngFor="let player of playerForm">

                <h3>
                    {{ player. }}
                </h3>
              
              </div> -->
           <!-- favorite game -->
          <!-- <mat-form-field class="example-full-width">
            <input matInput placeholder="Status" formControlName="status">
          </mat-form-field> -->

           <!-- Customer -->
          <mat-form-field class="example-full-width">
            <mat-label>Choose a game to play:</mat-label>
            <mat-select [(ngModel)]="selected" formControlName="customer">
              <mat-option [value]="g" *ngFor="let g of games">
                {{g.title}}
              </mat-option></mat-select>
              <mat-error *ngIf="handleError('customer', 'required')">
                You must provide a <strong>games played</strong>
              </mat-error>
          </mat-form-field>

        </div>
      </mat-card>
  
      <!-- Submit & Reset -->
      <mat-card>
        <div class="full-wrapper button-wrapper">
          <div class="button-wrapper">
            <button mat-flat-button color="warn">Join</button>
          </div>
        </div>
      </mat-card>
    </form>
  </div>